<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <form action="/login" method="post" class="m-5">
   
    <input type="email" name="email" placeholder="enter your email"  class="block mt-5 h-10 outline rounded"/>
    <input type="password" name="password" placeholder="enter password" class="block mt-5  h-10 outline rounded" />
 
<input type="submit" class="bg-blue-500 rounded mt-5"/>
  </form>
  <h1 class="ml-5 ">you have no account ? <a href="/" class="underline text-sm text-blue-500">create</a></h1>
</body>
</html>