<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<form action="/create" method="post">
  <div>
  <div class="block m-5 items-center gap-4 p-4 bg-white shadow-md rounded-lg">
    <label>username</label><hr>
  <input class="m-3" type="text" placeholder="enter name" name="name"/>
    </div>
    <div class="block m-5 items-center gap-4 p-4 bg-white shadow-md rounded-lg">
      <label>email</label><hr>
    <input class="m-3" type="text" placeholder="enter email" name="email"/>
      </div>
    </div>
    <div class="block m-5 items-center gap-4 p-4 bg-white shadow-md rounded-lg">
      <label>age</label><hr>
    <input class="m-3" type="number" placeholder="age" name="age"/>
      </div>
      <label>password</label><hr>
      <input class="m-3" type="password" placeholder="password" name="password"/>
        </div>
    </div>
    <input type="submit" class="bg-blue-500 ml-5 rounded-lg"/>
</form>
<div class="flex">
  <a href="/login" class="text-gray-500 text-xs underline ml-5 ">login</a>
  
</div>
  
  
</body>
</html>